.loading { width: 100vw; height: 100vh; display: none; position: fixed; top: 0; bottom: 0; right: 0; left: 0; backdrop-filter: blur(0.1em); }
.loading-lottie { position: absolute; top: 50%; left: 50%; }
body {
    /*white-space: pre-wrap;*/
}